/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
vite.config.js
/.fleet
/.idea
/.vscode
public/images/*
/translations/reservation_GR.json
/translations/generalTexts*
/translations/*
resources/translations/socialbuttons_gr.json

resources/translations/socialbuttons_it.json

resources/translations/socialbuttons_nl.json

resources/translations/socialbuttons_ru.json

resources/translations/reservation_GR.json
/resources/translations/
resources/translations/reservation_NL.json
resources/translations/reservation_DE.json
resources/translations/reservation_FR.json
resources/translations/reservation_FR.json
resources/translations/reservation_IT.json
resources/translations/reservation_NL.json
resources/translations/reservation_RU.json
resources/translations/reservation_SV.json
resources/translations/reservation_DE.json
resources/translations/reservation_sv.json
resources/translations/reservation_RU.json
resources/translations/reservation_nl.json
resources/translations/reservation_it.json
resources/translations/reservation_fr.json
resources/translations/reservation_de.json
/resources/translations
resources/translations/reservation_DE.json
resources/translations/reservation_FR.json
resources/translations/reservation_IT.json
resources/translations/reservation_NL.json
resources/translations/reservation_RU.json
resources/translations/reservation_SV.json
